@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*
    -> ARTICLE_CATEGORIES Article size changes bases on vw
        -> Increase size of parent container
    -> LATEST_DEALS image changes based on vw
        -> increase size of parent container
  */

  header {
    position: fixed;
  }

  main {
    top: 112px;
  }

  #orange_container {
    height: 82px;
    visibility: visible;
  }

  #orange_container:hover {
    background-image: url(../img/home-1.gif);
    background-position: 50%;
    background-size: cover;
  }

  .top_nav {
    position: relative;
    padding-left: 126px;
  }

  .left_items_search_nav {
    padding-left: 126px;
  }

  .main_articles_container {
    height: 512px;
  }

  #latest_news {
    height: 950px;
    max-height: 100%;
  }

  .latest_article {
    width: 33.33%;
    height: 33.33%;
    max-width: 330px;
    max-height: 260px;
  }

  .latest_article_info {
    height: 10%;
  }

  #latest_funding_rounds {
    width: 100vw;
    height: 370px;
  }

  #latest_funding_rounds_header {
    margin: 0 auto;
    width: 98%;
  }

  .investment_card {
    width: 33%;
    max-width: 326px;
  }

  #latest_investment_card {
    display: none;
  }

  #articles_categories {
    height: 3000px;
    max-height: 3000px;
  }

  .articles_category {
    width: 490px;
  }

  .most_popular {
    width: 470px;
    height: 352px;
  }

  .latest {
    width: 100%;
    max-width: 470px;
  }
}

@media only screen and (max-width: 768px) {
  #orange_container {
    visibility: visible;
    position: fixed;
  }

  #orange_container:hover {
    background-image: url(../img/home-1.gif);
    background-position: 50%;
    background-size: cover;
  }

  .top_nav {
    visibility: hidden;
  }

  .search_nav {
    display: flex;
    position: absolute;
    top: 0;
  }

  .left_items_search_nav {
    visibility: hidden;
  }

  .search_border {
    position: relative;
  }

  .search_nav_icon {
    position: relative;
  }

  .hamburguer_border {
    border-left: 1px solid #eee;
  }

  .hamburger_menu {
    visibility: visible;
  }

  .ad_nav {
    top: 48px;
    padding-left: 115px;
    position: fixed;
  }

  nav {
    position: fixed;
    padding-left: 106px;
  }

  main {
    top: 80px;
  }

  .tnw_logo {
    visibility: hidden;
  }

  .main_articles_container {
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }

  .title_container {
    font-size: 24px;
    line-height: 24px;
  }

  .article_category {
    bottom: 100px;
  }

  #bigger_article {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .gradient_red {
    visibility: hidden;
  }

  #small_article1 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #small_article2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .sections_container {
    width: 100vw;
  }

  #latest_news {
    height: 856px;
  }

  #latest_news_wrapper {
    flex-flow: column nowrap;
  }

  .latest_article {
    width: 100%;
    max-width: 100%;
    height: 12.5%;
    max-height: 88px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
  }

  .latest_article_img {
    width: 75px;
    height: 75px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .article_title {
    width: 100%;
    height: 100%;
    margin-top: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .article_author {
    margin: 0;
    margin-right: 10px;
  }

  .latest_article_info {
    width: 100%;
    height: 100%;
    margin-top: 0;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    flex-direction: row;
    align-items: flex-start;
  }

  #latest_funding_rounds {
    height: 1200px;
  }

  #latest_funding_rounds_header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
  }

  #latest_funding_rounds_wrapper {
    flex-direction: column;
    height: 90%;
  }

  .investment_card {
    width: 100%;
    max-width: 100%;
    height: 265px;
    max-height: 25%;
  }

  #articles_categories {
    width: 100vw;
    height: 7000px;
    margin: 100px 0;
    max-height: 8000px;
  }

  .articles_category {
    margin: 0 auto;
    width: 95%;
    height: 863px;
  }

  .most_popular {
    width: 100%;
    height: 540px;
  }

  .most_popular_text {
    height: 20%;
  }

  .latest_heading {
    width: 80%;
  }

  .latest {
    width: 100%;
    max-width: 100%;
  }

  .latest_img {
    width: 20%;
    max-width: 96px;
  }

  #latest_deals {
    padding: 50px 0;
    height: 1000px;
  }

  .latest_deals_heading {
    width: 90%;
    margin: auto auto;
  }

  .latest_deals_container {
    flex-flow: column nowrap;
  }

  .latest_deal {
    width: 100%;
    max-width: 100%;
    height: 12%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .latest_deal_img {
    width: 100%;
    height: 100%;
    max-width: 75px;
    max-height: 75px;
    margin: 5px;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .latest_deal_title {
    width: 100%;
    height: 100%;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  .latest_deal_price {
    width: 100%;
    height: 100%;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  footer {
    margin-top: 50px;
  }
}
