.top_nav {
  height: 2vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.search_nav {
  height: 4vw;
  background-color: white;
  color: grey;
  display: flex;
}

.left_items_search_nav {
  justify-content: space-around;
  display: flex;
  width: 50%;
}

/* .right_items_search_nav {
} */

.ad_nav {
  height: 2vw;
  background-color: yellow;
}

.left_items {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.right_items {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.obj_nav {
  margin: auto 0;
}

.obj_search_nav {
  margin: auto 0;
}

.articles_container {
  width: 100%;
  height: 552px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#bigger_article {
  background:
    linear-gradient(to top, black 0%, #60606063 20%, #60606000 30%),
    url(../img/main_article_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#small_article1 {
  background:
    linear-gradient(to top, black 0%, #60606063 20%, #60606000 30%),
    url(../img/main_article_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#small_article2 {
  background:
    linear-gradient(to top, black 0%, #60606063 20%, #60606000 30%),
    url(../img/main_article_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

/* .article_info {
} */

.latest_news {
  display: flex;
}

.latest_news_container {
  height: 768px;
  background-color: purple;
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 5% 5%;
}

.latest_news_obj {
  width: 19%;
  justify-content: space-between;
  margin: 3% 3%;
}

.latest_deals {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 50vw;
  max-width: 1192px;
  max-height: 600px;
  margin: 0 auto;
}

.latest_deals_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.latest_deals_heading a {
  color: #f42;
  font-size: 16px;
  text-decoration: none;
  margin: auto 0;
}

.latest_deals_heading a:hover {
  color: black;
}

.latest_deals_heading a h3 {
  font-size: 28px;
  font-weight: 700;
}

.latest_deals_container {
  width: 80vw;
  height: 50vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.latest_deal {
  width: 25%;
  max-width: 294px;
  height: 50%;
  padding: 18px;
}

.latest_deal_img {
  width: 100%;
  height: 50%;
  max-width: 270px;
  max-height: 201px;
  background-size: contain;
}

.latest_deal_price {
  display: flex;
}

.latest_deal_price p {
  margin: 0 5px;
}

#latest_deal1 {
  background-image: url(../img/latest_deals1.png);
}

#latest_deal2 {
  background-image: url(../img/latest_deals2.png);
}

#latest_deal3 {
  background-image: url(../img/latest_deals3.png);
}

#latest_deal4 {
  background-image: url(../img/latest_deals4.png);
}

#latest_deal5 {
  background-image: url(../img/latest_deals5.png);
}

#latest_deal6 {
  background-image: url(../img/latest_deals6.png);
}

#latest_deal7 {
  background-image: url(../img/latest_deals7.png);
}

#latest_deal8 {
  background-image: url(../img/latest_deals8.png);
}

.latest_news_img {
  width: 21vw;
  height: auto;
}

.latest_funding_rounds {
  padding: 5% 5%;
}

#latests_funds_heading {
  display: flex;
  justify-content: space-between;
}

.latest_funding_rounds_content {
  display: flex;
}

.latest_funding_round {
  width: 25%;
}

.lists_container {
  height: 1500px;
  background-color: orange;
}

footer {
  display: flex;
  flex-flow: column wrap;
}

.footer_links {
  height: 160.5px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer_links ul {
  display: flex;
  margin: 20px auto;
}

.social_links_wrapper {

}

.social_links {
  background: #333;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* .social_links:hover {
  border: 3px solid #333;
  background: #131313;
} */

#facebook {
  background-image: url(../img/latest_deals1.png) no-repeat;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: 10px top 10px left;
  z-index: 1;
}

#twitter {
  background-position: 0% 0%;
}

#youtube {
  background-position: 0% 0%;
}

#instagram {
  background-position: 0% 0%;
}

#pinterest {
  background-position: 0% 0%;
}

#rss {
  background-position: 0% 0%;
}

#email {
  background-position: 0% 0%;
}

#extra_links {

}

#extra_links li {
  padding: 0 10px;
}

.footer_legal {
  height: 97.5px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tnw_footer_icon {
  height: 10px;
}

.footer_legal span {
  padding: 0 5px;
}

.footer_legal span b {
  color: red;
}

#stackpath_footer_icon {
  height: 10px;
}

.articles_big_container {
  display: flex;
}

.little_container {
  width: 130%;
  flex-wrap: wrap;
}
