@import url('https://fonts.googleapis.com/css?family=Amaranth:700&display=swap');

@font-face {
  font-family: 'Shentox';
  src:
    url(../fonts/Shentox.woff2),
    url(../fonts/Shentox.woff);
}

a {
  color: inherit;
  text-decoration: none;
}

.top_nav {
  height: 32px;
  background-color: black;
  color: grey;
  display: flex;
  justify-content: space-between;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  padding-left: 10px;
}

.top_nav a:hover {
  color: white;
}

.search_nav a:hover {
  color: black;
}

.news_obj {
  color: white;
}

.search_nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: Shentox, sans-serif;
  font-weight: 250;
  text-transform: uppercase;
  color: #aaa;
  height: 48px;
  letter-spacing: 0.02em;
  line-height: 1;
}

.left_items_search_nav {
  justify-content: space-around;
  display: flex;
  width: 60%;
  padding-left: 3px;
}

.right_items_search_nav {
  width: 48px;
  height: 48px;
  padding: 1px;
}

.search_nav_icon {
  background-image: url(../img/icons-sprite.svg);
  background-position: -848px -848px;
  background-size: hover;
  width: 16px;
  height: 16px;
  margin: 16px 16px;
}

.obj_search_nav {
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
  margin: auto 0;
}

.ad_nav {
  height: 30px;
  background-color: #fd3;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.left_items {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.right_items {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.obj_nav {
  margin: auto 0;
}

.main_articles_container {
  width: 100%;
  height: 552px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main_articles_container h2 {
  visibility: hidden;
}

.main_articles_container article {
  margin: 2px;
}

/* .gradient_black {
  background: rgba(0, 0, 0, 0.25) url(../img/image_gradient_black.png) no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
} */

/* .gradient_red {
  background: transparent url(../img/image_gradient_red.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  mix-blend-mode: lighten;
  z-index: 3;
} */

#bigger_article {
  background: url(../img/main_article_1.png);
  background-size: 100% 100%;
  z-index: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#small_article1 {
  background: url(../img/main_article_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#small_article2 {
  background: url(../img/main_article_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.sections_container {
  width: 85vw;
  max-width: 1151px;
  height: 50vw;
  max-height: 666px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.sections_heading {
  width: 100%;
  height: 10%;
  display: flex;
  font-family: 'Amaranth', sans-serif;
}

.sections_heading a {
  color: #f42;
  font-size: 16px;
  text-decoration: none;
  margin: auto 0;
}

.sections_heading a:hover {
  color: black;
}

.sections_heading a h2 {
  font-size: 28px;
  font-weight: 700;
}

/* #latest_news {

} */

/* #latest_news_heading {

} */

#latest_news_wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
}

.latest_article {
  width: 25%;
  max-width: 294px;
  height: 50%;
  max-height: 251px;
  padding: 12px;
}

.latest_article_img {
  width: 100%;
  max-width: 270px;
  height: 60%;
  max-height: 135px;
  background-size: cover;
}

#latest_article1 {
  background-image: url(../img/latest_news_1.png);
}

#latest_article2 {
  background-image: url(../img/latest_news_2.png);
}

#latest_article3 {
  background-image: url(../img/latest_news_3.jpg);
}

#latest_article4 {
  background-image: url(../img/latest_news_4.jpg);
}

#latest_article5 {
  background-image: url(../img/latest_news_5.png);
}

#latest_article6 {
  background-image: url(../img/latest_news_6.jpg);
}

#latest_article7 {
  background-image: url(../img/latest_news_7.png);
}

#latest_article8 {
  background-image: url(../img/latest_news_8.jpeg);
}

#latest_funding_rounds {
  height: 25vw;
}

#latest_funding_rounds_header {
  justify-content: space-between;
}

#funding_rounds_extra_links {
  display: flex;
}

#latest_funding_rounds_wrapper {
  width: 100%;

  /* max-width: ; */
  height: 90%;

  /* max-height: ; */
  display: flex;
}

.investment_card {
  padding: 12px;
  width: 25%;
  max-width: 294px;
  height: 90%;
  max-height: 291px;
}

.investment_card img {
  width: 60px;
  height: 60px;
  position: relative;
  top: -10px;
}

.investment_card {

}

.investment_card_name {
  background-color: #f42;
  height: 40px;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.investment_card_details {
  background-color: #f4e2dd;
  height: 57px;
  padding-left: 80px;
}

.investment_card_tags {
  background-color: #f2f0f3;
  height: 82px;
}

.investment_card_description {
  background-color: #f2f0f3;
  height: 68px;
}

#articles_categories {
  flex-flow: row wrap;
  height: 150vw;
  max-height: 2147px;
}

.articles_category {
  padding: 12px;
  width: 33.33%;
  max-width: 392px;
  height: 33.33%;
  max-height: 685px;
}

.most_popular {
  width: 100%;
  max-width: 368px;
  height: 40%;
  max-height: 276px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  color: white;
}

.most_popular_text {
  width: 100%;
  height: 40%;
  position: relative;
  top: 60%;
}

.most_popular_text h5 {
  font-size: 14px;
  font-weight: 500;
}

.most_popular_text h3 {
  font-size: 20px;
  font-weight: 700;
}

.most_popular_text h4 {
  display: inline;
}

.latest {
  width: 100%;
  max-width: 368px;
  height: 20%;
  max-height: 96px;
  display: flex;
}

.latest_heading {
  width: 60%;
  height: 100%;
  padding: 2%;
  font-family: Shentox, sans-serif;
  color: #f42;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.latest_heading h5 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.latest_heading h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.latest_img {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.other_articles {
  height: 40%;
  max-height: 220px;
}

#apps .most_popular {
  background-image: url(../img/category_apps_most_popular.jpg);
}

#apps .latest_img {
  background-image: url(../img/category_apps_latest.jpg);
}

#gear .most_popular {
  background-image: url(../img/category_gear_most_popular.png);
}

#gear .latest_img {
  background-image: url(../img/category_gear_latest.png);
}

#tech .most_popular {
  background-image: url(../img/category_tech_most_popular.png);
}

#tech .latest_img {
  background-image: url(../img/category_tech_latest.jpg);
}

#creative .most_popular {
  background-image: url(../img/category_creative_most_popular.jpg);
}

#creative .latest_img {
  background-image: url(../img/category_creative_latest.png);
}

#podium .most_popular {
  background-image: url(../img/category_podium_most_popular.png);
}

#podium .latest_img {
  background-image: url(../img/category_podium_latest.jpg);
}

#insights .most_popular {
  background-image: url(../img/category_insights_most_popular.jpg);
}

#insights .latest_img {
  background-image: url(../img/category_insights_latest.jpeg);
}

#launch .most_popular {
  background-image: url(../img/category_launch_most_popular.jpg);
}

#launch .latest_img {
  background-image: url(../img/category_launch_latest.png);
}

#distract .most_popular {
  background-image: url(../img/category_distract_most_popular.jpg);
}

#distract .latest_img {
  background-image: url(../img/category_distract_latest.jpg);
}

.latest_deals_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.latest_deals_container {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.latest_deal {
  width: 25%;
  max-width: 294px;
  height: 50%;
  padding: 18px;
}

.latest_deal_img {
  width: 100%;
  height: 70%;
  max-width: 270px;
  max-height: 201px;
  background-size: cover;
  background-repeat: no-repeat;
}

.latest_deal_title {
  font-family: 'Amaranth', sans-serif;
  height: 20%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.latest_deal_price {
  height: 10%;
  display: flex;
}

.latest_deal_article_price {
  color: #aaa;
  font-size: 13px;
  text-decoration: line-through;
}

.latest_deal_article_discount {
  color: #555;
  font-size: 16px;
}

.latest_deal_price p {
  margin: 0 5px;
}

#latest_deal1 {
  background-image: url(../img/latest_deal_1.jpg);
}

#latest_deal2 {
  background-image: url(../img/latest_deal_2.jpg);
}

#latest_deal3 {
  background-image: url(../img/latest_deal_3.jpg);
}

#latest_deal4 {
  background-image: url(../img/latest_deal_4.jpg);
}

#latest_deal5 {
  background-image: url(../img/latest_deal_5.jpg);
}

#latest_deal6 {
  background-image: url(../img/latest_deal_6.jpg);
}

#latest_deal7 {
  background-image: url(../img/latest_deal_7.jpg);
}

#latest_deal8 {
  background-image: url(../img/latest_deal_8.jpg);
}

footer {
  display: flex;
  flex-direction: column;
}

.footer_links {
  height: 160.5px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.social_links_wrapper {
  display: flex;
  margin: 20px auto;
}

.social_links {
  background: #333;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.social_links:hover {
  border: 3px solid #333;
  background: #131313;
}

#facebook {
  width: 16px;
  height: 16px;
  background-image: url(../img/latest_deal_1.jpg);
  background-size: contain;
  background-position: 10px top 10px left;
}

#twitter {
  background-position: 0% 0%;
}

#youtube {
  background-position: 0% 0%;
}

#instagram {
  background-position: 0% 0%;
}

#pinterest {
  background-position: 0% 0%;
}

#rss {
  background-position: 0% 0%;
}

#email {
  background-position: 0% 0%;
}

#extra_links {
  display: flex;
  margin: 0 auto;
}

#extra_links li {
  padding: 0 10px;
}

.footer_legal {
  height: 97.5px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tnw_footer_icon {
  height: 10px;
}

.footer_legal span {
  padding: 0 5px;
}

.footer_legal span b {
  color: red;
}

#stackpath_footer_icon {
  height: 10px;
}

.articles_big_container {
  display: flex;
}

.little_container {
  width: 130%;
  flex-wrap: wrap;
}
